<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
</head>
<body>

<!-- NavBar -->
    <div>
    <a href="/restaurants">Menu</a> |
    <a href="/my_orders">My Orders</a> |
    <a href="/logout">Logout</a>
</div>


<h1>{{ restaurant.name }} Menu</h1>

{% for message in messages %}
    <p style="color:red">{{ message }}</p>
{% endfor %}


{% for item in items %}
    <div>
        <h3>{{ item.name }}</h3>
        <p>Price: {{ item.price }}</p>
        <p>Status: {{ item.status }}</p>

        {% if item.status == 'available' %}
        <form action="/create_order" method="POST">
            {% csrf_token %}

            <!--  IMPORTANT -->
            <input type="hidden" name="item_id" value="{{ item.id }}">

            <p>Quantity:</p>
            <input type="number" name="quantity" min="1">

            <p>Note:</p>


            <input type="text" name="note">

            <button type="submit">Order</button>
        </form>
        {% else %}
            <p>Sold Out</p>
        {% endif %}
    </div>
{% endfor %}

</body>
</html>
