<!DOCTYPE html>
<html>
<head>
    <title>Restaurants</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <h1 style="color:red;">RESTAURANTS PAGE</h1>
<div>
{% if request.session.customer_mode %}
    <!-- CUSTOMER MODE -->

    {% if request.path != '/restaurants' %}
        <a href="/restaurants">Restaurants</a> |
    {% endif %}

    <a href="/my_orders">My Orders</a>

{% else %}
    <!-- OWNER / ADMIN MODE -->

    {% if request.session.role == 'owner' %}
        <a href="/owner_dashboard">My Restaurant</a> |
    {% else %}
        {% if request.path != '/restaurants' %}
            <a href="/restaurants">Restaurants</a> |
        {% endif %}
    {% endif %}

    <a href="/my_orders">My Orders</a> |
    <a href="/logout">Logout</a>

{% endif %}

</div>

{% for message in messages %}
    <p style="color:green">{{ message }}</p>
{% endfor %}
<h1>Restaurants</h1>

{% for restaurant in restaurants %}
    <div>
        <h3>{{ restaurant.name }}</h3>
        <p>{{ restaurant.description }}</p>

        <a href="/menu/{{ restaurant.id }}">View Menu</a>
    </div>
{% endfor %}

</body>
</html>
